# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
beautifulsoup4=4.8.2=pypi_0
bs4=0.0.1=pypi_0
certifi=2019.11.28=py36_0
fake-useragent=0.1.11=pypi_0
lxml=4.5.0=pypi_0
pip=20.0.2=py36_1
psycopg2-binary=2.8.4=pypi_0
python=3.6.10=h9f7ef89_0
selenium=3.14.0=pypi_0
setuptools=46.0.0=py36_0
soupsieve=2.0=pypi_0
sqlite=3.31.1=he774522_0
urllib3=1.25.8=pypi_0
vc=14.1=h0510ff6_4
vs2015_runtime=14.16.27012=hf0eaf9b_1
wheel=0.34.2=py36_0
wincertstore=0.2=py36h7fe50ca_0
